<div class="text-primary">
  <h1>About Blocmarks</h1>
  <br/>
  <p>Blocmarks is a bookmarking application:</p>
</div>

<div class="panel panel-info">
  <ul>
    <li>bookmark URL's via email</li>
    <li>peruse other user's bookmarks</li>
    <li>maintain a personal index of categorized bookmarks.</li>
  </ul>
</div>
